@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&family=Noto+Sans+JP&family=PT+Sans&display=swap');

* ,
::before ,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul ,
ol{
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  background-color: #ffffff;
}

img {
  max-width: 100%;
}